.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__title{
margin-top: 5rem;
    font-size:1.5rem;
    font-weight: 200;
    color:var(--cinza);
    margin-bottom: 1rem;
}
.header__subtitle{
    font-size:1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.header__text{
    font-size: 0.94rem;
    font-weight: 400;
    margin: 0 2rem;
    text-align: center;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
    color:var(--cinza)
}